body {
    overflow-x: hidden;
    margin: 0;

    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/* options */

.options-box {
    position: absolute;

    top: 134px;
    right: 171px;

    height: 50px;
    width: 1485px;

    z-index: 1;
}

.options-box form {
    position: relative;
    display: inline-block;

    margin-right: 80px;
    border-radius: 22px;
}

.options-box button {
    height: 50px;

    cursor: pointer;
    border-radius: 22px;

    background-color: transparent;
    border-color: transparent;

    top: -15px;
}

.options-name {
    position: relative;

    color: white;
    font-size: 23px;
    font-weight: bold;

    text-align: center;
}

.options-messages {
    position: absolute;

    top: 15px;
    right: 350px;

    z-index: 1;
}

.options-messages button {
    cursor: pointer;

    width: 450px;
    height: 75px;

    opacity: 0;
}

/* end options */

/* cards */

.card {
    position: relative;
    z-index: 1;

    width: 260px;
    height: 390px;

    float: left;

    margin-left: 13px;
    margin-top: 10px;
}

/* end cards */


/* species */
.species {
    position: relative;

    top: 21px;
    right: -26px;
}

div.species img {
    width: 211px;
    height: 240px;
}

div.monster-card {
    position: absolute;
}

div.monster-fight-request {
    position: absolute;
    z-index: 2;
}

div.monster-fight-request button {
    width: 260px;
    height: 390px;

    border-radius: 16px;
    cursor: pointer;
    opacity: 0;
}

/* species end */


/* stats */

.stats {
    position: absolute;
    font-variant-numeric: oldstyle-nums;
    color: #EDEADE;
    font-size: 21px;
    font-weight: bold;

    text-align: center;
}

.attack {
    position: relative;
    top: 40px;
    right: -34px;
}

.defence {
    position: relative;
    top: 15px;
    right: -180px;

    transform: translateX(-50%);
}

.brains {
    position: relative;
    top: 50px;
    right: -34px;
}

.tricks {
    position: relative;
    top: 25px;
    right: -180px;

    transform: translateX(-50%);
}

.total {
    position: relative;
    top: -33px;
    right: -120px;

    transform: translateX(-25%);
}

/* end stats */

/* right-side */

.right-side-box form {
    position: relative;

    top: 44px;
    right: -76px;
}

.right-side-box form button {
    cursor: pointer;

    width: 60px;
    height: 21px;

    border: 1px;
    border-radius: 8px;

    opacity: 0;
}

.right-side-name {
    position: relative;

    color: purple;
    font-size: 21px;
    font-weight: bold;
    text-align: center;

    top: -7px;
}

.right-side-nuggets {
    position: relative;

    font-variant-numeric: oldstyle-nums;
    color: goldenrod;
    font-size: 21px;
    font-weight: bold;
    text-align: center;

    top: 123px;
}

/* end right-side

/* messages */

.message-count {
    position: absolute;

    top: 22px;
    right: 700px;

    z-index: 1;
}

.message-number {
    position: relative;
    color: white;
    font-size: 30px;
    text-align: center;

    top: -44px;
}

/* end messages */

/* select-monster-option 1 */

.select-monster {
    position: absolute;

    top: 80px;
    right: 320px;

    z-index: 1;
}

.select-monster button {
    width: 91px;
    height: 105px;

    cursor: pointer;
    border-radius: 20px;
    opacity: 0;
}

.my-monsters {
    position: relative;

    top: 140px;
    right: -52px;
}

.left-button {
    position: relative;

    top: -113px;
    right: -5px;
}

.right-button {
    position: relative;

    top: -218px;
    right: -378px;
}

.go-back {
    position: relative;

    top: -546px;
    right: -409px;

    z-index: 1;
}

.go-back button {
    width: 40px;
    height: 40px;

    cursor: pointer;
    border-radius: 16px;
    opacity: 0;
}

/* end select-monster-option */

/* show-monster-box */

.show-monster-box {
    position: absolute;

    width: 880px;
    height: 610px;

    top: 100px;
    right: 520px;

    z-index: 1;
}

/* show-monster-box */