body {
    overflow: hidden;
    margin: 0;
}

.background-image {
    position: absolute;
}

/* general-option (constants) */

.general-option {
    position: absolute;
}

.fight-offer-request {
    position: absolute;

    top: 31px;
    right: 320px;
}

.opponent-monster {
    position: relative;

    top: -104px;
    right: -569px;
}

.my-chance-box {
    position: relative;

    top: -30px;
    right: -112px;

    width: 190px;
    height: 9px;
}

.opponent-chance-box {
    position: relative;

    top: -50px;
    right: -640px;

    width: 190px;
    height: 9px;
}

.chance-bars {
    float: left;
    margin-left: 2px;
}

/* end general-option */