<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>

    <link th:href="@{/css/parts/standard.css}" rel="stylesheet"/>
    <link th:href="@{/css/parts/profile.css}" rel="stylesheet"/>
</head>
<body>


<div class="card-box">
    <div th:each="monster : ${Monsters}">
        <div class="card">
            <div th:replace="~{parts/fragments-base.html :: show-monster-card}"></div>
        </div>
    </div>

    <div th:if="${#lists.size(Monsters) != 6}" th:each="i: ${#numbers.sequence(0, 5 - #lists.size(Monsters))}">
        <div class="grow-card">
            <form th:action="@{/fmm/{username}(username=${User.username})/monsters}" method="post">
                <button class="button-custom" th:value="CUSTOM" th:name="level"> Custom</button>
                <button class="button-standard" th:value="STANDARD" th:name="level"> Standard</button>
                <button class="button-extra" th:value="EXTRA" th:name="level"> Extra</button>
                <button class="button-super" th:value="SUPER" th:name="level"> Super</button>
            </form>
        </div>
    </div>
</div>


<div class="page-box">
    <div class="next-page">
        <form th:action="@{/fmm/my-profile}" th:if="${pageNumber} - 1 &gt;= 1">
            <input type="hidden" th:value="${pageNumber} - 1" name="pageNumber"/>
            <button style="background: none;"><img th:src="@{/images/parts/next-page-arrow.png}" alt="next-page-arrow"></button>
        </form>
        <form th:unless="${pageNumber} - 1 &gt;= 1">
            <img th:src="@{/images/parts/next-page-arrow.png}" alt="next-page-arrow">
        </form>

        <form th:action="@{/fmm/my-profile}" th:each="i, stat: ${#numbers.sequence(1, totalPages)}">
            <input type="hidden" th:value="${stat.index} + 1" name="pageNumber"/>
            <button><img th:src="@{/images/parts/next-page-button.png}" alt="next-page-button"></button>
        </form>

        <form th:action="@{/fmm/my-profile}" th:if="${pageNumber} + 1 &lt;= ${totalPages}">
            <input type="hidden" th:value="${pageNumber} + 1" name="pageNumber"/>
            <button style="background: none;">
                <img th:src="@{/images/parts/next-page-arrow.png}" alt="next-page-arrow" style="transform: rotate(180deg);">
            </button>
        </form>
        <form th:unless="${pageNumber} + 1 &lt;= ${totalPages}">
            <img th:src="@{/images/parts/next-page-arrow.png}" alt="next-page-arrow" style="transform: rotate(180deg);">
        </form>
    </div>
</div>


<div class="theme-box">
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='spots')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='galaxy')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='black-green-stripes')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='lollipops')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='purple-layers')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='metal')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='ground')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='screws')}"></div>
    <div th:replace="~{parts/profile/fragments-profile.html :: theme(backgroundName='slime')}"></div>
</div>


<div th:replace="~{parts/fragments-base.html :: messages-notification}"></div>


<div th:replace="~{parts/fragments-base.html :: options(LoggedInUsername=${User.username})}"></div>


<div th:replace="~{parts/fragments-base.html :: right-side}"></div>


<div th:replace="~{parts/profile/fragments-profile :: leftSide}"></div>


<div th:replace="~{parts/profile/fragments-profile.html :: backgroundWithProfile}"></div>


</body>
</html>