<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opponent's profile</title>

    <link th:href="@{/css/parts/standard.css}" rel="stylesheet"/>
    <link th:href="@{/css/parts/profile.css}" rel="stylesheet"/>
</head>
<body>


<div class="card-box">
    <div th:replace="~{parts/profile/fragments-profile.html :: showMonstersOpponentProfile}"></div>
</div>


<div class="page-box">
    <div class="next-page">
        <img th:src="@{/images/parts/next-page-arrow.png}" alt="next-page-arrow">
        <form th:action="@{/fmm/opponent-profile}" th:each="i, stat: ${#numbers.sequence(1, totalPages)}">
            <input type="hidden" th:value="${User.username}" name="username"/>
            <input type="hidden" th:value="${stat.index} + 1" name="pageNumber"/>
            <button><img th:src="@{/images/parts/next-page-button.png}" alt="next-page-button"></button>
        </form>
        <img th:src="@{/images/parts/next-page-arrow.png}" alt="next-page-arrow" style="transform: rotate(180deg);">
    </div>
</div>


<div th:replace="~{parts/fragments-base.html :: messages-notification}"></div>


<div th:replace="~{parts/fragments-base.html :: options(LoggedInUsername=${LoggedInUsername})}"></div>


<div class="right-side-box">
    <div class="right-side-name" th:text="${User.username}" style="top: 17px;"></div>
    <div class="right-side-nuggets" th:text="${Nuggets}" style="top: 147px;"></div>
</div>


<div th:replace="~{parts/profile/fragments-profile.html :: leftSide}"></div>


<div th:replace="~{parts/profile/fragments-profile.html :: backgroundWithProfile}"></div>


</body>
</html>