<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fight-request</title>

    <link th:href="@{/css/parts/profile.css}" rel="stylesheet"/>
    <link th:href="@{/css/parts/fight/fight.css}" rel="stylesheet"/>
    <link th:href="@{/css/parts/fight/fight-request.css}" rel="stylesheet"/>
</head>
<body>


<div class="fight-request-box">
    <div th:replace="~{parts/fight/fragments-fight.html :: constant-fight-options}"></div>

    <div class="next" th:with="OptionIndex=${OptionIndex+1}">
        <div th:replace="~{parts/fight/fragments-fight.html :: fightInformation(requestOrOffer='request')}"></div>
    </div>

    <div class="go-back">
        <form th:action="@{/fmm/opponent-profile}" th:object="${OpponentUser}">
            <input type="hidden" th:value="*{username}" name="username"/>
            <button></button>
        </form>
    </div>

    <div class="my-chance-box">
        <div class="chance-bars" th:each="i: ${#numbers.sequence(1, MyChanceBarAmount)}">
            <img th:src="@{/images/fight/request/chance-bar-full.png}" alt="chance-bar-full">
        </div>
        <div class="chance-bars" th:each="i: ${#numbers.sequence(1, (10 - MyChanceBarAmount))}">
            <img th:src="@{/images/fight/request/chance-bar-empty.png}" alt="chance-bar-empty">
        </div>
    </div>
    <div class="opponent-chance-box">
        <div class="chance-bars" th:each="i: ${#numbers.sequence(1, (10 - MyChanceBarAmount))}">
            <img th:src="@{/images/fight/request/chance-bar-full.png}" alt="chance-bar-full">
        </div>
        <div class="chance-bars" th:each="i: ${#numbers.sequence(1, MyChanceBarAmount)}">
            <img th:src="@{/images/fight/request/chance-bar-empty.png}" alt="chance-bar-empty">
        </div>
    </div>


    <div class="fight-offer-request">
        <img th:src="@{/images/fight/request/general-option-fight-request.png}" alt="general-option-fight-request">
    </div>

    <div th:if="${OptionIndex == 1}">
        <div class="select-monster">
            <img th:src="@{/images/fight/request/option1-select-monster.png}" alt="option1-select-monster">

            <div class="left-button" th:with="N=${N-1}">
                <div th:replace="~{parts/fight/fragments-fight.html :: fightInformation(requestOrOffer='request')}"></div>
            </div>
            <div class="right-button" th:with="N=${N+1}">
                <div th:replace="~{parts/fight/fragments-fight.html :: fightInformation(requestOrOffer='request')}"></div>
            </div>
        </div>
    </div>

    <div th:if="${OptionIndex == 2}">
        <div class="eat-bite-collect">
            <img th:src="@{/images/fight/request/option2-bite-collect-eat.png}" alt="option2-bite-collect-eat">

            <div class="bite-button" th:with="TypeOfFight=${'BITE'}">
                <div th:replace="~{parts/fight/fragments-fight.html :: fightInformation(requestOrOffer='request')}"></div>
            </div>
            <div class="collect-button" th:with="TypeOfFight=${'COLLECT'}">
                <div th:replace="~{parts/fight/fragments-fight.html :: fightInformation(requestOrOffer='request')}"></div>
            </div>
            <div class="eat-button" th:with="TypeOfFight=${'EAT'}">
                <div th:replace="~{parts/fight/fragments-fight.html :: fightInformation(requestOrOffer='request')}"></div>
            </div>

            <div class="black-dot-bite" th:if="${TypeOfFight == 'BITE'}">
                <img th:src="@{/images/fight/request/black-dot.png}" alt="black-dot">
            </div>
            <div class="black-dot-collect" th:if="${TypeOfFight == 'COLLECT'}">
                <img th:src="@{/images/fight/request/black-dot.png}" alt="black-dot">
            </div>
            <div class="black-dot-eat" th:if="${TypeOfFight == 'EAT'}">
                <img th:src="@{/images/fight/request/black-dot.png}" alt="black-dot">
            </div>
        </div>
    </div>

    <div th:if="${OptionIndex == 3}">
        <div class="offer-nuggets">
            <img th:src="@{/images/fight/request/option3-offer-nuggets.png}" alt="option3-offer-nuggets">
        </div>
        <div class="send-message">
            <form th:action="@{/fmm/messages/send-message}" th:object="${MessageDto}" method="post">
                <input type="hidden" th:value="${OpponentUser.id}" name="ToAccountId"/>
                <input type="hidden" th:value="${TypeOfFight}" name="TypeOfFight"/>
                <input type="hidden" th:value="${OpponentMonster.name}" name="ToMonsterName"/>
                <input type="hidden" th:value="${MyMonsters[N].name}" name="FromMonsterName"/>
                <input type="text" th:value="${NuggetsForAccepting}" name="NuggetsForAccepting"/>
                <button></button>
            </form>
        </div>
    </div>
</div>


<div class="background-image">
    <img th:src="@{/images/fight/request/blue-background.png}" alt="background img">
</div>


</body>
</html>