<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Fragments: fight-request</title>
</head>
<body>

<div th:fragment="fightInformation(requestOrOffer)">
    <form th:action="@{/fmm/fight-{requestOrOffer}(requestOrOffer=${requestOrOffer})}">
        <input type="hidden" th:value="${OpponentUser.username}" name="OpponentUsername"/>
        <input type="hidden" th:value="${OpponentMonster.name}" name="OpponentMonsterName"/>
        <input type="hidden" th:value="${N}" name="N"/>
        <input type="hidden" th:value="${OptionIndex}" name="OptionIndex"/>
        <input type="hidden" th:value="${TypeOfFight}" name="TypeOfFight"/>
        <input type="hidden" th:value="${NuggetsForAccepting}" name="NuggetsForAccepting"/>
        <input type="hidden" th:value="${MyChanceBarAmount}" name="MyChanceBarAmount"/>
        <button class="next-button"></button>
    </form>
</div>


<div th:fragment="constant-fight-options">
    <div class="general-option">
        <img th:src="@{/images/fight/request/general-option.png}" alt="general-option">
    </div>

    <div th:replace="~{/parts/fragments-base.html :: my-monsters}"></div>

    <div class="opponent-monster">
        <div th:with="monster=${OpponentMonster},
            totalStats=${OpponentMonster.attack} + ${OpponentMonster.defence} + ${OpponentMonster.brains} + ${OpponentMonster.tricks}">
            <div th:replace="~{parts/fragments-base.html :: show-monster-card}"></div>
        </div>
    </div>
</div>


<div th:fragment="battle-form-and-monsters" th:object="${BattleForm}">
    <input type="hidden" th:field="*{myMonsterBefore.species}"/>
    <input type="hidden" th:field="*{myMonsterBefore.attack}"/>
    <input type="hidden" th:field="*{myMonsterBefore.defence}"/>
    <input type="hidden" th:field="*{myMonsterBefore.brains}"/>
    <input type="hidden" th:field="*{myMonsterBefore.tricks}"/>

    <input type="hidden" th:field="*{opponentMonsterBefore.species}"/>
    <input type="hidden" th:field="*{opponentMonsterBefore.attack}"/>
    <input type="hidden" th:field="*{opponentMonsterBefore.defence}"/>
    <input type="hidden" th:field="*{opponentMonsterBefore.brains}"/>
    <input type="hidden" th:field="*{opponentMonsterBefore.tricks}"/>

    <input type="hidden" th:field="*{myMonsterAfter.species}"/>
    <input type="hidden" th:field="*{myMonsterAfter.attack}"/>
    <input type="hidden" th:field="*{myMonsterAfter.defence}"/>
    <input type="hidden" th:field="*{myMonsterAfter.brains}"/>
    <input type="hidden" th:field="*{myMonsterAfter.tricks}"/>

    <input type="hidden" th:field="*{opponentMonsterAfter.species}"/>
    <input type="hidden" th:field="*{opponentMonsterAfter.attack}"/>
    <input type="hidden" th:field="*{opponentMonsterAfter.defence}"/>
    <input type="hidden" th:field="*{opponentMonsterAfter.brains}"/>
    <input type="hidden" th:field="*{opponentMonsterAfter.tricks}"/>

    <input type="hidden" th:field="*{battleIndex}"/>
    <input type="hidden" th:field="*{shownPercentageChanceToWin}"/>
    <input type="hidden" th:field="*{didIWin}"/>
    <input type="hidden" th:field="*{degreesChance}"/>
    <input type="hidden" th:field="*{chanceToWinGraphic}"/>
    <input type="hidden" th:field="*{battleBackground}"/>
</div>


</body>
</html>